@import "navbar.css";
@import "aboutus.css";
@import "footer.css";
@import "blogpost.css";

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* justify-content: flex-start; */
    width: 100%;
}

.cover {
    width: 100%;
    max-height: 75vh;
}

.destinations-container {
    margin: 5vh 20vw 0 20vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    /* justify-content: flex-start; */
    text-align: center;
    
}

.destinations {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

.caption {
    text-align: center;
    margin: 2vh 4vw 2vh 4vw;
    font-size: 1.25rem;
    display: flex;
    flex-flow: column;
    font-style: italic;
}

/*Extra small devices*/

/* @media (max-width: 800px) {
    .container {
      flex: 100%;
    }
  } */

@media screen and (min-width: 200px) and (max-width: 340px) {
    .grid-container, .container {
        justify-content: center;
        flex-wrap: wrap;
    }
 } 

/*Small devices and Tablets*/

@media screen and (min-width: 341px) and (max-width: 768px){
    .grid-container, .container {
        margin: 5vh 10vw 0 10vw;
    }
 }

/*@media screen and (min-width: 500px) and (max-width: 767.98px) {
    .destinations-container {
        margin: 5vh 10vw 0 10vw;
    }
 }
*/
